// you can change colors here
$theme-color: #e87015;
$bg-color: (
  light: #f8f4ea,
  dark: #2c3e50,
);
$bg-color-secondary: (
  light: #f7f2e8,
  dark: #34495e,
);
$bg-color-tertiary: (
  light: #efeadf,
  dark: #384f66,
);
// $border-color: 边框颜色
// $box-shadow: 元素阴影色
// $text-color: 字体颜色
// $card-shadow: 卡片阴影色
